name: Run Tests

on: [push]

jobs:
  test:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # 'macos-latest' currently uses macOS 14 on Apple Silicon (M1)
        os: [ubuntu-latest, macos-latest]
    steps:
    - uses: actions/checkout@v4
    - name: Run tests
      run: ./test.sh