name: Run Tests

on: [push]

jobs:
  test:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
    - uses: actions/checkout@v4

    # Install clang-format for macOS
    - name: Install clang-format (macOS)
      if: matrix.os == 'macos-latest'
      run: brew install clang-format

    - name: Run tests
      run: ./test.sh